//scss
.pagination {
  // display: flex;
  // flex-wrap: wrap;
  // margin-left: -7px;
  // list-style: none;
  justify-content: center;
}
ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 25px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

ul.pagination li a {
  text-decoration: none;
  color: black;
  font-size: 17px;
}

ul.pagination li.active a {
  color: white;
}
ul.pagination li.active {
  background-color: black;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: white;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.pagination li {
  color: black;
  float: left;
  padding: 6px 12px;
  // text-decoration: none;
  border: 1px solid;
  background-color: darkgray;
}
.pagination li a {
  color: black;
}
