.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

 th, td {
  border: 0.5px solid black;
}
table{
  padding: 0px 10px;
   /* border-collapse: collapse; width: 100%;  */
}
thead{
  background-color: #282c34;
    min-height: 20vh;
   
    font-size: calc(8px + 1.4vmin);
    color: white;
    line-height: 60px;
}
.tableFixHead    { overflow-y: auto; overflow-x: auto; height: 600px; top: 50px; }
.tableFixHead th { position: sticky; top: 50; }

tr:nth-child(even){background-color: #f2f2f2}
td{
 text-align: center;
 font-size: 18px;
 font: Montserrat;
 padding: 6px 25px;
}
tbody{
  overflow: scroll
}

.Budget-Overview {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Table-Header {
  background-color: #96bb7c;
  display: flex;
  justify-content: center;
  flex-direction: row;
}


/* pagination scss */
.paginationWrapper {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}
.separator {
  width: 1rem;
  margin: 0 0.25rem;
}
.pageItem {
  background: transparent;
  border: none;
  height: 2rem;
  width: 2rem;
  margin: 0 0.25rem;
  border-radius: 50%;
  font-weight: 600;
}
.pageItem:hover {
  text-decoration: underline;
}
.pageItem:focus {
  outline: 0;
}
.sides {
  box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.sides:hover {
  text-decoration: none;
  box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgba(0, 0, 0, 0.12) 0px 6px 16px;
}



.dialog-loader{
	position: fixed;
	  top: 0;
	  bottom: 0;
	  right: 0;
	  left: 0;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  background: #fff;
	  opacity: 0.5;
	  z-index: 2;
  }


  